@import '../../variables';

.catalog-page {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto auto auto;

  .header {
    justify-self: start;
    grid-column: span 2;
    font-family: $text-title;
    color: $color-sea;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 40px;
  }

  #list-subcategory {
    grid-row: span 2;
  }

  .products-carousel {
    margin-top: 128px;
  }
}

@media (max-width: 900px){
  .catalog-page {
      display: flex;
      flex-direction: column;
  
      .header {
        font-size: 30px;
        margin-bottom: 25px;
        line-height: 38px;
      }
  
      #list-subcategory {
        margin-bottom: 42px;
      }
  
      .products-carousel {
        margin-top: 60px;
      }
    }
}