.catalog-page {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto auto auto;

  .header {
    grid-column: span 2;
  }

  #list-subcategory {
    grid-row: span 2;
  }

  .products-carousel {
    margin-top: 128px;
  }
}

@media (max-width: 900px){
  .catalog-page {
      display: flex;
      flex-direction: column;
  
      .header {
        grid-column: span 2;
      }
  
      #list-subcategory {
        margin-bottom: 42px;
      }
  
      .products-carousel {
        margin-top: 60px;
      }
    }
}