.favorites-page {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .all-favorites-products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
}

@media (max-width: 900px) {
  .favorites-page {
    gap: 44px;

    .all-favorites-products {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px 10px;
    }
  }
}