@import '../../variables';

.swiper {
    .swiper-nav-btns{
        display: flex;
        flex-direction: row;
        gap: 48px;
        justify-content: center;
        margin-top: 40px;    
    }
}

.swiper-slider {
    display: flex;
    justify-content: center;
}

@media (max-width: 900px) {
    .swiper {
        .swiper-nav-btns {
            gap: 24px;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}