@import '../../../../variables';

#total-amount-price {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  padding: 32px;
  border-radius: 12px;
  border: 1px solid  rgb(34, 53, 64, 0.16);

  .promo-code {
    width: 282px;
    display: flex;
    flex-direction: row;

    input {
      height: 48px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      width: 124px;
      padding: 13px;
    }

    .btn {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }

  .price-information, .counting {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: rgba(34, 53, 64, 0.16);
  }

  .sum-cost {
    display: flex;
    justify-content: space-between;

    img {
      width: 9px;
      height: 13px;
    }

    &.total {
      span {
        font-size: 24px;
      }

      span.sum {
        font-weight: 500;
      }

      img {
        width: 11px;
        height: 17px;
      }
    }
  }

  span {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: 850px) {
  #total-amount-price {
    width: 100%;

    .sum-cost {
      display: flex;
      justify-content: space-between;
  
      img {
        width: 9px;
        height: 13px;
      }
  
      &.total {
        span {
          font-size: 24px;
        }
  
        span.sum {
          font-weight: 500;
        }
  
        img {
          width: 11px;
          height: 17px;
        }
      }
    }

    span {
      font-size: 16px;
    }
  }
}