#products-in-page {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1086px;

  .list-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 24px;
  }
}

@media (max-width: 900px) {
#products-in-page {
    .list-products {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
    }
  }
}