@import '../../variables';

.contacts-page{
  display: flex;
  flex-direction: column;

  .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }
}

@media (max-width: 900px) {
  .contacts-page {
      .info {
        flex-direction: column;
        margin-bottom: 61px;
      }
    }
}