@import '../../variables';

.btn {
    border-radius: 12px;
    padding: 13px 24px;
    background-color: $color-blue;
    width: auto;
    text-align: center;
    
    span {
        color: white;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.btn:hover {
    opacity: 0.9;
}

@media (max-width: 850px) {
    .btn {
        &.into-basket {
            width: 154px;
        }
    }
}