@import '../../variables';

.btn {
    border-radius: 12px;
    padding: 13px 24px;
    background-color: $color-blue;
    width: auto;
    text-align: center;
    color: white;
}

.btn:hover {
    opacity: 0.9;
}

@media (max-width: 850px) {
    .btn {
        &.into-basket {
            width: 154px;
        }
    }
}