@import '../../../../variables';

.popular-categories {
  display: flex;
  flex-direction: column;

  .block-info {
    width: 100%;
    display: flex;
    gap: 23px;
  }
}

@media (max-width: 900px) {
  .popular-categories {
    margin: 0px 16px;

    .block-info {
      display: flex;
      flex-direction: column;
      gap: 23px;
    }
  }
}