@import '../../variables';

.product-card {
    position: relative;
    margin: auto;
    width: 346px;
    min-height: 510px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.04);
    padding: 24px 56px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .heart-switch {
        position: absolute;
        right: 24px;
        top: 24px;
    }

    .icon-new{
        position: absolute;
        left: 24px;
        top: 24px;
        width: 52px;
        height: 25px;
        border-radius: 8px;
        background-color: $color-blue-transparent;
        color: $color-sea;
        padding: 5px 10px;
        font-weight: 600;
        font-size: 12px;
    }

    .poster {
        width: auto;
        height: 240px;
        object-fit: scale-down;
    }

    .title {
        margin-top: 24px;
        color: $color-sea;
        text-align: center;
        font-family: Balsamiq Sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }

    .price {
        margin-top: 8px;
        display: flex;
        gap: 8px;
        line-height: 32px;

        .old-price {
            position: relative;
            color: $color-sea;
            font-size: 16px;
            font-weight: 500;
    
            display: flex;
            gap: 6px;
        }
    
        .old-price:before {
            border-bottom: 1px solid $color-sea;
            position: absolute;
            content: "";
            width: 100%;
            height: 50%;
            transform: rotate(-12deg);
        }
    }

    .btn {
        margin-top: 24px;
    }

    .buy-click {
        margin-top: 16px;
    }

    .buy-click {
        opacity: 0.8;
    }
}

@media (max-width: 850px) {
    .product-card {
        width: 170px;
        min-height: 346px;
        border-radius: 0px;
        box-shadow: none;
        padding: 42px 0px 0px 0px;
        
        .poster {
            width: 66px;
            height: 73px;
        }

        .heart-switch {
            right: 5px;
            top: 0px;
        }

        .icon-new {
            left: 0px;
            top: 0px;
        }

        .title {
            margin-top: 13px;
            font-size: 14px;
            line-height: 22px;
        }

        .prise {
            margin-top: 13px;
            flex-direction: column;
            gap: 0px;
            font-size: 20px;

            .old-price{
                align-self: center;
            }
        }

        .into-basket {
            margin-top: 25px;
        }

        .buy-click {
            margin-top: 12px;
        }
    }
}