@import '../../../../variables';

.products-carousel {
    text-align: center;

    h2 {
        margin-bottom: 64px;
    }
}

@media (max-width: 850px) {
    .products-carousel {
        h2 {
            margin-bottom: 32px;
        }
    }
}