@import '../../variables';

.modal-product-add {
    position: fixed;
    z-index: 100;
    bottom: 80px;
    right: 100px;
    padding: 32px 40px;
    width: 593px;
    height: 318px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.16);
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 22px auto auto;
    gap: 24px;
    align-items: center;
    animation: show-loader 1.5s ease-in;

    .header-modal {
        grid-column: span 2;
        font-family: $text-title;
        font-size: 24px;
        font-weight: 400;
        line-height: 58px;
    }

    .poster {
        width: 66px;
        height: 76px;
    }
    
    .description {
        text-align: start;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 16px;
    }

    .btn {
        margin-top: 0px;
        grid-column: span 3;
    }

    .icon-close{
        justify-self: end;
    }

    .basic-price-product {
        justify-content: start;
    }
}


@keyframes show-loader {
    0% {
        opacity: 0;
        transform: translateX(1000px);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateX(0);
    }
}

@media (max-width: 900px) {
    .modal-product-add {
        bottom: 40px;
        right: 10px;

        padding: 20px 40px;

        width: 328px;
        height: 452px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        align-items: center;

        .header-modal {
            font-size: 18px;
        }

        .poster {
            width: 69px;
            height: 80px;
        }

        .description {
            text-align: center;
            font-size: 14px;
            margin-bottom: 0px;
            margin-bottom: 10px;
        }

        .icon-close {
            position: absolute;
            top: 22px;
            right: 22px;
        }

        .basic-price-product {
            justify-content: center;
        }
    }
}