@import '../../../../variables';

.modal-login-account {

  .icon-close {
      position: absolute;
      top: 31px;
      right: 24px;
    }

    nav {
      display: flex;
      flex-direction: column;
      gap: 26px;
    }

    .user-info {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: repeat(2, 1fr);
      gap: 4px 16px;
      margin-bottom: 16px;

      img {
        grid-row: span 2;
        width: 40px;
        height: 40px;
      }
    }
}

@media (max-width: 900px) {
  .modal-login-account {
    nav {
      gap: 18px;
    }

    .icon-close {
      display: none;
    }
  }
}