$color-blue: #7FC9F0;
$color-blue-dark: #223540;
$color-blue-gray: #446B80;
$color-blue-transparent: #E5F4FC;
$color-beige: #ECC7C1;
$color-beige-light: #FDF6EF;
$color-beige-dark: #DFC6B3;
$color-beige-transparent: #F3DBD7;