$color-blue: #7FC9F0;
$color-black-blue: #223540;
$color-sea: #446B80;
$color-blue-transparent: #E5F4FC;
$color-beige: #ECC7C1;
$color-beige-light: #FDF6EF;
$color-beige-dark: #DFC6B3;
$color-beige-transparent: #F3DBD7;
$color-error: #C52121;

$text-title: Balsamiq Sans;