@import './variables';

body {
    margin: auto;
}

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: Montserrat;
    color: $color-sea;
}

a {
    text-decoration: none;
    color: $color-blue;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;

    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

h1 {
    font-family: Balsamiq Sans;
    font-size: 80px;
    font-weight: 400;
    line-height: 88px;
}

h2 {
    font-family: Balsamiq Sans;
    font-size: 80px;
    font-weight: 400;
    line-height: 88px;
}

@media (min-width: 851px) {
    .mobile-only {
        display: none !important;
    }
}

@media (max-width: 850px) {
    .desktop-only {
        display: none !important;
    }

    h1{
        font-size: 30px;
        line-height: 38px;
    }

    h2 {
        font-size: 30px;
        line-height: 34px;
    }
}