@import '../../variables';

.home-page {
    display: flex;
    flex-direction: column;
    gap: 120px;

    .title {
        align-self: center;
        display: inline-block;
        margin-bottom: 64px;
    }

    .section {
        position: relative;
        max-width: 1456px;
        margin: auto;
    }
}

@media (max-width: 900px) {
    .home-page {
        gap: 80px;
    }
}