@import '../../variables';

.main-homepage {
    display: flex;
    flex-direction: column;
    gap: 120px;

    .section {
        max-width: 1456px;
        margin: auto;
    }
}

@media (max-width: 850px) {
    .main-homepage {
        gap: 80px;
    }
}