@import '../../variables';

.home-page {
    display: flex;
    flex-direction: column;
    gap: 120px;

    .section {
        max-width: 1456px;
        margin: auto;
    }
}

@media (max-width: 900px) {
    .home-page {
        gap: 80px;
    }
}